<!doctype html>
<html ng-app="personApp">
<header>
    <!-- DEV -->
    <!-- <script src="../lists.js"></script> -->
    <!-- <script src="../faceGenScripts.js"></script> -->

    <!-- PROD -->
    <!-- <script src="https://davehudg.github.io/perchance/lists.js"></script>
        <script src="https://davehudg.github.io/perchance/faceGenScripts.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- <script type="text/javascript" src="angularjs-dropdown-multiselect.js"></script> -->
    <script src="person.js"></script>
    <script src="demogaphic.js"></script>
    <link rel="stylesheet" type="text/css" href="https://davehudg.github.io/perchance/page.css" />
</header>

<body ng-controller="PersonContorller as personList">
    <h1>Person Generator</h1>

    <div>
        <div>
            <div>
                <h2>Random Person</h2>
                <button ng-click="generateRandomPerson()">Generate</button>
                <br />
                <br />
                <span>Random person: {{person}}</span>
            </div>
            <br />

            <select ng-options="x.value as x.text for x in ethnicity" ng-model="person.Ethnicity">
                <option value=""></option>
            </select>
            <select ng-options="x.value as x.text for x in gender" ng-model="person.Gender"
                ng-if="person.Ethnicity != undefined">
                <option value="">Gender</option>
            </select>
            <select ng-options="x.value as x.text for x in age" ng-model="person.Age"
                ng-if="person.Ethnicity != undefined">
                <option value="">Age</option>
            </select>
            <br>


            <select ng-options="x.value as x.text for x in skinColor" ng-model="person.SkinColor"
                ng-if="person.Ethnicity != undefined">
                <option value="">Skin Color</option>
            </select>
            <select ng-options="x.value as x.text for x in freckles" ng-model="person.Freckles"
                ng-if="person.Ethnicity != undefined">
                <option value="">Freckles</option>
            </select>
            <br>




























</body>
</html>